.show{
  background:linear-gradient(rgba(10, 10, 10, 1.0), transparent),url(img/section.jpg);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}
.hist{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  min-height: 80vh;
  background:rgba(255, 255, 255, 0.8);
  font-size: 15px;
}
.hist h4{
  padding-left: 15%;
  font-size: medium;
}
.hist h4 a{
  text-decoration: none;
  color: rgb(213, 152, 10);
}
.hist-child{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.hist-child p{
  padding-bottom: 2rem;
}
@media screen and (max-width: 768px){
  .menu-toggle{
      display: flex;
  }
  .navy{
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 1rem 0;
      gap: 1rem;
  }
  .navy .show{
      display: flex;
  }
  .brows-drop:hover .brows-ch,
   .drop:hover .drop-2{
      position: static ;
      border: none;
  }
  .p-foot{
      display: flex;
      flex-direction: column;
  }
  .hero-child img{
      text-align: center;
  }
}

