.us-us{
  background:linear-gradient(rgba(10, 10, 10, 0.9), transparent),url(img/ContactBanner-01.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: ;
  margin-bottom: 6rem;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 26rem;
  padding-top: 15rem;
  padding-left: 15rem;
  font-size: 25px;
}
.us-us h1{
  padding-bottom: 1rem;
}
.frame{
  display: flex;
 flex: 1 1 26rem ;
 flex-direction: column;
}


.con-p{
  display: flex;
  flex-wrap: wrap;
  flex:  1 1 26rem;
  margin-left: 5rem;
  font-size: 2rem;
}
.con-p h2{
  padding-bottom: 2rem;
  color:  rgb(36, 18, 201);
}
.con-ch{
  padding-left: rem;
  column-count: 2;
  

  
}
.con-ch a{
  text-decoration: none;
  line-height: 7rem;
  color:rgb(39, 24, 172)
  
}
.gen{
  margin-left: 15rem;
  min-height: 40vh;
  padding-top: 2rem;
}
.gen h1{
  font-size: 35px;
  padding-bottom: 2rem;
}
.gen p{
  font-size: 18px;
  padding-bottom: 1rem;
} 
.gen ul li{
  padding-bottom: 2rem;
  font-size: 18px;
}
.gen ul li a{
  text-decoration: none;
  color: rgb(180, 117, 8);
}
@media screen and (max-width: 768px){
  
    .us-us{
      background-size: cover;
      background-position: sticky;
      width: 100%;
    }
    .con-p{
      text-align: center;
      display: flex;
      flex-wrap: wrap;
    }
    .con-ch{
      text-align: center;
    }
    iframe{
      width:350px; 
    height:200px;
    text-align: center; 
    }

  .menu-toggle{
      display: flex;
  }
  .navy{
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 1rem 0;
      gap: 1rem;
  }
  .navy .show{
      display: flex;
  }
  .brows-drop:hover .brows-ch,
   .drop:hover .drop-2{
      position: static ;
      border: none;
  }
  .p-foot{
      display: flex;
      flex-direction: column;
  }
  .hero-child img{
      text-align: center;
  }
}


  

