.disc{
  background: linear-gradient(rgba(10, 10, 10, 0.8), transparent),url("img/gcb.jpg");
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
}
.disc h1{
  font-size: 6rem;
  font-weight: bold;
}
.disc h3{
  font-size: 25px;
  padding-top: 1rem;
}
.message-p{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background-color: rgba(255, 255, 255, 0.8);
  
}
.message{

  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  font-size: 15px;
  
}
.message p{
  padding-top: 3rem;
  line-height: 2rem;
}
@media screen and (max-width: 768px){
  .menu-toggle{
      display: flex;
  }
  .navy{
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 1rem 0;
      gap: 1rem;
  }
  .navy .show{
      display: flex;
  }
  .brows-drop:hover .brows-ch,
   .drop:hover .drop-2{
      position: static ;
      border: none;
  }
  .p-foot{
      display: flex;
      flex-direction: column;
  }
  .hero-child img{
      text-align: center;
  }
}

