/* global styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 62.5%;
}
/* styling the nav bar*/

.main-hero{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 26rem;
    background-color: rgb(255, 255, 255);
    color: black;
    position: sticky;
    z-index: 88;
    top: 0%;
}
.hero{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    flex: 1 1 26rem;
}
   

.hero-child{
    display:flex;
    flex-wrap:wrap;
    flex: 1 1 26rem;    
    font-size: 20px;
    margin-left: 2rem;
}
.hero-child img{
    padding-right:5px;
    padding-top: 4px;
    border-radius: 5rem;
    margin:0.5rem;
}
.hero-child h1{
    margin-top: 4rem;
}
.hero-child a{ 
    text-decoration: none;
    color: black;
 
       
}

  
.main-hero .navy{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30rem;
    
    

}
.main-hero .navy a{
    display: flex;
    text-decoration: none;
    color:black;
    border: none;
    background-color:none;
    font-size: 20px;
    padding: 0.5rem;

   

   
}
.main-hero .navy button {
    display: flex;
    
    border: none;
    outline: none;
    background:none;
    padding-right: 5rem;

}
.main-hero .navy a:hover{
    background-color: rgb(43, 36, 103);
    color: white;
    transition: 0.5s;
    border-radius: 5px;

}
/* hamburger*/
.menu-toggle{
    display: none;
    flex-direction: column;
    width: 30px;
    height: 22px;
    justify-content: space-between;
    cursor: pointer;
}
.menu-toggle span{
    height: 4px;
    background: #003399;
    border-radius: 2px;
    display: block ;
}
/* making the dropdown menu*/
.drop-2{
    display: none;
    flex-wrap: wrap;
    flex: 1 1 26rem;
    position: absolute;
    min-width: 300px;
    padding:2rem;
    padding-top: 4rem;
    padding-left: 3rem;
    line-height: 4rem;
    background-color: white;
    
   
}
.drop-2 a{
    background-color: none;
    
    
    
}
.drop:hover .drop-2{
    display: block;
}
.brows-ch{
    display: none;
    position: absolute;
    column-count: 2;
    border-radius: 5px;
    padding: 2rem;
    min-width: 300px;
    background-color: white;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
padding-bottom: 3rem;
     
}
.brows-ch a{
    line-height:4rem;
    
}
.brows-drop:hover .brows-ch{
    display: block;
}


/* here i style the body content*/
.content{
    background:linear-gradient(rgb(239, 229, 229), transparent) rgba(255, 255, 255, 0.8) ;
    background-repeat: no-repeat;
    position: sticky;
    background-size: cover;
    background-attachment:  fixed ;
    min-height: 85vh;
    font-size: 16px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


 .cont-child-1{
    display: flex;
    flex-wrap:wrap;
    flex:  1 1 24rem;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;

}
.cont-child-1 ol{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 24rem;
    
}
.cont-child-1 ol li{
    list-style: none;
    font-size: 16px;
    line-height: 2rem;
}
.cont-child-1 ol li a{
    color: black;
}
.cont-child-1 ol li a:hover{
    color: white;
    background-color: rgb(43, 36, 103);
}
.cont-child-1 ol h1{
    padding-bottom: rem;
    
}
.cont-child-1 h1 a{
    text-decoration: none;
    color:black ;
}
.cont-child-1-1{
    margin-top: 4rem;
}
.cont-child-1 .cont-child-1-2{
    margin-top: 8rem;
}
.cont-child-1 .cont-child-1-3{
    margin-top: 14rem;
}
.cont-child-1 .cont-child-1-4{
    padding-top: 7rem;
}
.cont-child-1 .cont-child-1-5{
    padding-top: 3rem;
}
.cont-child-1-7{
    padding-top: 10rem;
    padding-bottom: 4rem;
}
.cont-child-1 .cont-child-1-8{
    padding-top: 10rem;
    padding-bottom: 4rem;
}
.cont-child-1-9{
    padding-top:8rem ;
    padding-bottom: 4rem;
}



/* the footer styling is done here*/
.p-foot{
    background:rgb(43, 36, 103) ;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 45vh;
    font-size: 17px;
    
    
} 
.p-foot h1{
    padding-bottom: 2rem;
    padding-top: 2rem;
}   
.box{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 24rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;

    

}
.resource{
    margin-bottom: 7rem;
}


.box ol li{
    list-style: none;
    line-height: 1rem;
    padding: 10px;
}
.box ol li a{
    text-decoration: none;
    list-style: none;
    color: white;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6rem;
    margin-right: 3rem;
}
form input{
    background-color: rgba(255, 255, 255, 0.8);
    height: 55px;
    width: 250px;
    border-radius: 20px;
    border: none; 
    outline: none;
    margin-right: 2rem;
   
}
form a i{
    color: #ebbd3f;
}
form .icons a i{
    padding-right: 2rem;
    width: 50px;
    font-size: 50px;
    padding-top: 2rem;

}
/* media quarry*/
@media screen and (max-width: 768px){
    .menu-toggle{
        display: flex;
    }
    .navy{
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 1rem 0;
        gap: 1rem;
    }
    .navy .show{
        display: flex;
    }
    .brows-drop:hover .brows-ch,
     .drop:hover .drop-2{
        position: static ;
        border: none;
    }
}
  
